@import "tailwindcss";
/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Images, svgs and such */

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.logo {
  border-radius: 50%;
}

/* Root styles for variables */

:root {
  --bg-color: #000000;
  --text-color: #ffffff; /* white */
  --text-color2: #ffc600; /* yellow */
  --text-color3: #e900ff; /* pink */
  --transparent: rgba(255, 255, 255, 0.05);
  --font-poppins: "Poppins", sans-serif;
  --accent-gradient1: linear-gradient(
    to right,
    #e900ff,
    #ffc600
  ); /* purple to yellow */
  --accent-gradient2: linear-gradient(
    to right,
    #5800ff,
    #e900ff
  ); /* purple to pink */

  --fs-h1: 53.75px;
  --fs-h2: 44.79px;
  --fs-h3: 37.32px;
  --fs-h4: 31.1px;
  --fs-h5: 25.92px;
  --fs-h6: 21.6px;
  --fs-p: 18px;
  --fs-small: 15px;
  --fs-xs: 12.5px;

  /* Font sizes */

  h1 {
    font-size: var(--fs-h1);
    font-weight: 900;
  }
  h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 800;
    text-align: center;
  }
  h3 {
    font-size: var(--fs-h3);
  }
  h4 {
    font-size: var(--fs-h4);
    font-weight: 600;
  }
  h5 {
    font-size: var(--fs-h5);
    font-weight: 900;
  }
  h6 {
    font-size: var(--fs-h6);
    font-weight: 600;
    max-width: 70vw;
  }
  p {
    font-size: var(--fs-p);
  }
  small {
    font-size: var(--fs-small);
    font-weight: 600;
  }
}

/* Font colors */

.orange {
  color: var(--text-color2);
}
.ptext {
  /* pink color */
  color: #e900ff;
}

/* General styles */

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Components */

.footer {
  position: fixed;
  display: grid;
  place-items: center;
  padding: var(--size-fluid-3);
  background: var(--accent-gradient2);
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  z-index: 100;
  /* backdrop-filter: blur(400px); */
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  padding: var(--size-fluid-3);
  background: var(--accent-gradient2);
  top: 0;
  width: 100%;
  height: 6rem;
  /* backdrop-filter: blur(50px); */
  margin: 0;
  z-index: 100;
  isolation: isolate;
}

.frontbanner {
  border: 3px solid;
  border-image: linear-gradient(to right, #5800ff, #e900ff) 1;
}

.tech-stack-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  margin: 20px;
}

.tech-stack-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-stack-icon img {
  width: 120px;
  height: 120px;
}

@media (max-width: 768px) {
  .tech-stack-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Progress bar */

.progress-bar-container {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  border-radius: 1px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  /* background: linear-gradient(to right, #e900ff, #5800ff); */
  background-color: #05df72;
  border-radius: 1px;
}

/* Video controls */

.video-controls {
  position: relative;
  top: 10px;
  left: 0;
  height: 100%;
  display: flex;
  padding: 10px;
}

.video-controls button {
  margin-top: 20px;
}

/* Mobile menu */

.mobilemenu {
  display: none;
}
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--bg-color);
    z-index: 99;
    text-align: center;
    padding: 1rem 0;
    display: flex;

    /* Animation */

    /* display: flex;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none; */
  }

  /* .nav-links.nav-active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  } */

  /* .nav-links li {
    margin: 1rem 0;
  } */

  /* Without animation */

  .nav-links.nav-active {
    display: flex;
  }

  .nav-links.nav-active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-wrapper {
    height: 100%;
  }

  .mobilemenu {
    display: block;
    position: absolute;
    color: var(--text-color2);
    right: 4rem;
    z-index: 100;
    background: none;
    border: none;
    color: #ffc600;
  }

  .navbar {
    gap: 16rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  ul.nav-links {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
  .nav-link a {
    padding: 0px !important;
  }

  .nav-links li {
    width: 100px !important; /* Increased from 60px to 100px */
  }

  li.nav-link {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li.nav-link a {
    /* Fixed selector from "li nav-link a" to "li.nav-link a" */
    width: 120px;
    display: flex;
    justify-content: center;
    font-size: 15px !important;
  }

  .navbar {
    gap: 4rem;
  }
}

/* Sections */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 80vw; */
  min-width: 70vw;
  padding: 2rem 0rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .frontbanner {
    width: 75vw;
  }

  .heroimage {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
  }
}

.section > * {
  margin-bottom: 1rem;
}

.section > *:last-child {
  margin-bottom: 0;
}

ul.nav-links a,
button {
  transition: opacity 0s ease-in-out;
}

.btn {
  padding: 0.22rem 0.8rem;
  border: none;
  border-radius: 0.15rem;
  cursor: pointer;
  font-size: var(--fs-p);
  font-weight: 600;
  text-decoration: none;
}

.btn-primary {
  color: #ffffff;
  background: #e900ff;
}

ul.nav-links a:hover,
button:hover {
  opacity: 0.8;
}

ul.nav-links a {
  padding: 1rem 1.4rem;
  font-weight: 900;
  font-size: var(--fs-p);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul.nav-links {
  font-weight: 900;
}

/* ul.nav-links a {
  border-bottom: 2px solid yellow;
} */

@media (min-width: 768px) {
  ul.nav-links {
    margin-top: 0.5rem;
  }
}

li {
  margin: 0 3rem;
  font-size: var(--fs-p);
}

/* style for main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-fluid-6);
  padding: var(--size-fluid-5) var(--size-fluid-2);
  margin-top: 10rem;
}

/* Styles for buttons, links, cards,, sections, texts  */

.gradienttext {
  background: linear-gradient(to right, #e900ff, #ffc600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* for Firefox */
  background-clip: text;
  color: transparent;
}

.gradienttext2 {
  background: linear-gradient(to right, #5800ff, #e900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* for Firefox */
  background-clip: text;
  color: transparent;
}

#projectsbtn {
  position: relative;
  padding: 8px 16px;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#projectsbtn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 8px;
  background: var(--accent-gradient1);
  z-index: -1;
}

#projectsbtn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-color);
  border-radius: 5px;
  z-index: -1;
}

/* Blur effects */

/* Footer blur */

.footer-container {
  position: relative;
  width: 100%;
}

.blur3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem; /* Adjust as needed */
  z-index: -1;
  isolation: isolate;
  transform: translateY(100px);
}

.blur3::after,
.blur3::before {
  content: "";
  position: absolute;
  inset: 0%;
  z-index: -1000;
  border-radius: 0%;
  overflow: hidden;
}

.blur3::before {
  background-image: var(--accent-gradient1);
  transform: rotate(0deg);
  position: absolute;
}

@media (min-width: 768px) {
  .blur3::after,
  .blur3::before {
    filter: blur(200px);
  }
}

/* Navbar blur */

.blur2 {
  transform: translateY(-10px);
  width: 100%;
}

.blur2::after,
.blur2::before {
  content: "";
  inset: 4%;
  z-index: -1;
  border-radius: 50%;
}

.blur2::before {
  background-image: var(--accent-gradient2);
  transform: rotate(0deg);
  position: absolute;
}

@media (min-width: 768px) {
  .blur2::after,
  .blur2::before {
    filter: blur(40px);
  }
}

/* Front text background blur */

/* New blur4 class that won't affect text opacity */
.blur4 {
  position: absolute;
  z-index: -2;
  pointer-events: none;
  isolation: isolate;
  overflow: hidden;
  height: auto;
}

.blur4::after,
.blur4::before {
  content: "";
  position: absolute;
  inset: -5%;
  z-index: -1;
  border-radius: 20%;
  filter: blur(40px);
  opacity: 0.27;
}

/* Animation with a slight movement */

.blur4::before {
  background-image: var(--accent-gradient1);
  transform: rotate(0deg) scale(1);
  animation: blur4move 12s ease-in-out infinite alternate;
}

@keyframes blur4move {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(10deg) scale(1.05) translate(45px, -45px);
  }
  100% {
    transform: rotate(-10deg) scale(1.1) translate(-45px, 45px);
  }
}

@media (min-width: 768px) {
  .blur4::after,
  .blur4::before {
    filter: blur(100px);
  }
}

/* Front page banner moving text effect */

.movingtext {
  background: linear-gradient(to right, #e900ff, #ffc600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: movingtext 1s cubic-bezier(0.5, 0, 0.2, 1) infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes movingtext {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.frontbanner {
  border: 3px solid;
  border-image: linear-gradient(to right, #5800ff, #e900ff) 1;
  animation: rotate-border 5s linear infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes rotate-border {
  0% {
    border-image: linear-gradient(to right, #5800ff, #e900ff) 1;
  }
  100% {
    border-image: linear-gradient(to right, #e900ff, #5800ff) 1;
  }
}

/* Media queries */

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .heroimage {
    height: 130px;
    object-fit: cover;
    margin-top: 2rem;
  }

  :root {
    font-size: 14px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h5 {
    font-size: 1.5rem !important;
  }

  h6 {
    font-size: 1.2rem !important;
  }

  section {
    width: 370px !important;
  }

  p {
    font-size: 1rem !important;
  }

  li {
    font-size: 1rem !important;
  }

  ul.nav-links {
    display: none;
  }

  .fronttext1 {
    margin: 20px;
  }
}

/* Text reveal effect */

.reveal-on-scroll {
  opacity: 0;
  transform: none;
  transition: opacity 2s ease;
  will-change: opacity;
}

.reveal-visible {
  opacity: 1;
}

/* Test */

/* .flip-card {
  background-color: transparent;
  width: 290px;
  height: 290px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

#profilepic,
#profilepicreversed {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

#profilepicreversed {
  transform: rotateY(180deg);
} */
